<header class="overflow-x-hidden bg-purple-900 p-4 fixed top-0 left-0 right-0 z-50 flex items-center">
  <h2 class="whitespace-nowrap text-2xl font-bold text-white ml-4">Borrower Risk Rating (BRR)</h2>
  <div class="ml-auto mr-4 flex">
    <div class="flex space-x-4">
      <span class="w-10 h-10 rounded-full cursor-pointer border-2 border-transparent hover:border-purple-700 flex items-center justify-center transition-all">
        <i class="pi pi-history text-white text-lg"></i>
      </span>
      <span class="w-10 h-10 rounded-full cursor-pointer border-2 border-transparent hover:border-purple-700 flex items-center justify-center transition-all">
        <i class="pi pi-user text-white text-lg"></i>
      </span>
    </div>
  </div>
</header>
