<div class="fixed min-h-screen min-w-screen bg-black/50 z-60">
    <div class="fixed inset-0 flex justify-center h-fit">
      <div class="bg-white shadow-xl w-full max-w-md p-4" (click)="$event.stopPropagation()">
        <h2 class="text-centertext-xl mb-4 text-center">📢 Announcement 📢</h2>
        <p class="text-gray-600 text-justify mb-6 text-sm">
          {{ commMessage }}
        </p>
        <div class="flex items-center justify-center">
          <button
            class="h-7 w-16 mx-auto px-3 py-1 rounded-md border-gray-300 text-sm shadow-lg bg-gray-200 hover:cursor-pointer"
            (click)="closeCommPopup()"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>