<div class="p-2 pt-6 bg-white h-full">
  <form [formGroup]="editForm" class="">
    <div class="text-md w-full h-10 flex flex-row items-center bg-gray-200 p-2 hover:cursor-pointer" (click)="isOpenBusiness = !isOpenBusiness">
      <i class="text-sm transition-transform duration-200 pi pi-chevron-right"
          [class.pi-chevron-down]="isOpenBusiness"></i>
      <span class="ml-2">Business Legal Information</span>
    </div>
    <div
      class="transition-all duration-300 overflow-hidden"
      [style.maxHeight]="isOpenBusiness ? '200px' : '0px'"
    >
      <div class="text-sm grid grid-cols-2 px-8 py-6 gap-2">
        <div class="grid grid-cols-[max-content_1fr] items-center gap-2 ">
          <label class="mr-2"> Firm Type:<span class="text-red-600">*</span></label>
          <div class="flex w-full h-6 items-center">
            <label class=" flex items-center cursor-pointer mr-4">
              <label class="relative flex items-center cursor-pointer mx-1">
                <input type="radio" formControlName="firmType" value="Private" name="firmType" class="peer h-2 w-2 cursor-pointer appearance-none rounded-full border border-black bg-white">
                <span class="absolute bg-slate-800 w-1 h-1 rounded-full opacity-0 peer-checked:opacity-100 transition-opacity duration-100 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"></span>
              </label>
              <span class="ml-1">Private</span>
            </label>
            <label class=" flex items-center cursor-pointer">
              <div class="relative flex items-center cursor-pointer mx-1">
                <input type="radio" formControlName="firmType" value="Public" name="firmType" class="peer h-2 w-2 cursor-pointer appearance-none rounded-full border border-black bg-white">
                <span class="absolute bg-slate-800 w-1 h-1 rounded-full opacity-0 peer-checked:opacity-100 transition-opacity duration-100 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"></span>
              </div>
              <span class="ml-1">Public</span>
            </label>
          </div>
          <label class="mr-2">Risk Currency:</label>
          <div class="relative">
            <select formControlName="riskCurrency" name ="riskCurrency" class="hover:cursor-pointer bg-white border-2 border-gray-200 rounded-md w-50 h-6">
                <option value=""></option>
                @for (op of currencyOptions; track op.code){
                    <option [value]="op.code" class="px-1 whitespace-pre-wrap">
                        {{op.code}} {{op.label}}
                    </option>
                }
            </select>
          </div>
          <label class="mr-2">
            Primary Stock Code:
          </label>
          <div class="flex flex-col">
          <input formControlName="primaryStockCode" type="text" 
              class="border-2 border-gray-200 rounded-md w-50 px-1"
              [class.border-red-500]="editForm.controls.primaryStockCode.invalid"
              [title]="editForm.controls.primaryStockCode.valid ? '':'Required when Listing Date is filled'"/>
            @if (editForm.controls.listingDate.value !== ''){
                <span class="max-w-50 h-fit text-[12px] text-red-500 pl-2 pt-1">Required when Listing Date is filled</span>
            }
          </div>

        </div>
        <div class="grid grid-cols-[max-content_1fr] items-center gap-2 content-start ">
          <label class ="me-2"> Country of Risk:<span class="text-red-500">*</span></label>
          <div class="relative">
            <select formControlName="countryOfRisk" class="hover:cursor-pointer bg-white border-2 border-gray-200 rounded-md w-50 h-6 truncate">
                <option value="" class="overflow-hidden max-w-50"></option>
                @for (op of countryOptions; track op.code){
                    <option [value]="op.code" class="px-1">
                        {{op.label}}
                    </option>
                }
            </select>
          </div>
          <label class="mr-2">Listing Date:</label>
          <p-datepicker 
            formControlName="listingDate"
            appendTo="body"
            class="border-2 border-gray-200 rounded-md w-50 px-1"
            panelStyleClass="p-entity-datepicker"/>
        </div>
      </div>
    </div>
    <div class="text-md w-full h-10 flex flex-row items-center bg-gray-200 p-2 hover:cursor-pointer" (click)="isOpenIndustry = !isOpenIndustry">
      <i class="text-sm transition-transform duration-200 pi pi-chevron-right"
          [class.pi-chevron-down]="isOpenIndustry"></i>
      <span class="ml-2">Industry Information</span>
    </div>
    <div
      class="transition-opacity duration-300 overflow-hidden px-4"
      [class.max-h-full]="isOpenIndustry"
      [class.max-h-0]="!isOpenIndustry"
    >
      <div class="text-sm flex px-8 py-6 gap-2 items-center">
        <label class="mr-2">Industry Classification:</label>
        <div class="relative">
          <select formControlName="indClass" class="hover:cursor-pointer bg-white border-2 border-gray-200 rounded-md w-50 truncate px-1" placeholder="">
              <option value="ISIC V4" class="overflow-hidden max-w-50 hidden selected">ISIC V4</option>
              @for (op of indClassOptions; track op.code){
                @if (op.code !== 'ISIC V4'){
                <option [value]="op.code" class="px-1">
                  {{op.label}}
                </option>
                }
              }
          </select>
        </div>
      </div>
      <div class="max-h-70 overflow-y-scroll">
        <p-table
            [value]="industries"
            dataKey="rowId"
            sortMode="single"
            class="w-full border-collapse industry-info-table"
            style="--p-datatable-sort-icon-size: 10px "
            (onSort)="onSort($event)"
            [tableStyle]="{}">

          <!-- HEADER -->
          <ng-template pTemplate="header">
            <tr class="sticky top-0 font-semibold bg-gray-300 h-6">
              <th class="w-10">
                <button 
                    type="button"
                    class="ml-1 w-4 h-4 text-green-500 hover:text-green-600 hover:bg-gray-200"
                    (click)="addIndustry()">
                  <i class="pi pi-plus"></i>
                </button>
              </th>

              <th  
                  pSortableColumn="industryCode" 
                  class="text-xs py-2">
                Industry Code <span class="text-red-500">*</span>
                <p-sortIcon field="industryCode" class="ml-3"></p-sortIcon>
              </th>
              
              <th pSortableColumn="industryPercentage" class="text-xs font-semibold py-2">
                <span>Percentage (%)</span><span class="text-red-500">*</span>
                <p-sortIcon field="industryPercentage" class="ml-3"></p-sortIcon>
              </th>

              <th class="text-xs py-2 is-primary-col">
                Primary?
              </th>
            </tr>
          </ng-template>

          <!-- BODY -->
          <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
            <tr 
                [formGroup]="getIndustryGroup(rowIndex)"
                class="h-7">
              <td class="align-middle py-2">
                <button 
                    type="button" 
                    class="w-6 h-6 text-red-500 hover:text-red-600 hover:bg-red-100"
                    (click)="removeIndustry(rowIndex)">
                  <i class="pi pi-trash"></i>
                </button>
              </td>

              <td class="text-xs">
                <select formControlName="industryCode" class="hover:cursor-pointer bg-white border-2 border-gray-200 rounded-sm min-w-80 truncate px-1 block">
                  <option value="" class="overflow-hidden max-w-150"></option>
                  @for (op of industryCodes; track op.code){
                      <option [value]="op.code" class="px-1">
                          {{op.code}}
                      </option>
                  }
                </select>
              </td>
              
              <td class="text-xs">
                <input
                  type="number"
                  formControlName="industryPercentage"
                  class="appearance-none text-center border-2 border-gray-200 rounded-sm w-20 px-1"
                />
              </td>

              <td class="text-xs is-primary-col">
                <input
                  type="checkbox"
                  formControlName="isPrimary"
                  class="hover:cursor-pointer accent-purple-600"
                />
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </form>
</div>
