/* You can add global styles to this file, and also import other style files */
@tailwind utilities;

:root {
  --primary-color: #605dc8;
  --secondary-color: #8b89e6;
  --accent-color: #e8e7fa;
  --shadow-color: #e8e8e8;
}
@layer base{
  /* button {
    @apply px-2 py-1.5 text-black bg-gray-100 rounded-lg border border-black
           active:bg-gray-400
           disabled:bg-gray-100
           disabled:text-gray-400
           disabled:border-gray-300
           disabled:cursor-not-allowed;
  } */
  body {
    @apply bg-violet-200;
    /* font-family: "Be Vietnam Pro", sans-serif; */
  }
}
@layer components {
  .nav-item {
      @apply 
          font-semibold p-3 pl-6 
          text-amber-300
          hover:bg-violet-800 
          /* hover:text-violet-800  */
          cursor-pointer;
  }
  .nav-item.active {
      @apply 
          bg-amber-300 
          text-violet-900;
  }
  .entity-search-inputbox {
      @apply
          mt-1
          px-2 max-w-50 min-w-8
          h-6 text-xs
          border-2 shadow-sm 
          border-purple-300 rounded-lg 
          focus:border-purple-600
          outline-none
          /* focus:ring-1 focus:border-transparent  */
  }
  .entity-search-inputlabel{
      @apply
          text-purple-800 text-sm font-bold p-1
  }

}
.login {
  @apply flex flex-col justify-center items-center;
}
.input-rows {
  @apply grid grid-cols-[90px_150px] items-center mb-[5px];
}
.submit-button {
  @apply flex flex-col justify-center items-center my-[5px];
}

@theme {
  --color-gold: #bfa14e;
  --color-scb-purple: #4B2885;
}

@import "tailwindcss"
